
    .hero-banner {
      width: 100%;
      height: 50vh;
      background-image: url("/heroo-banner.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

     @media (max-width: 768px) {
      .hero-banner {
        height: 40vh;
      }
    }


/* ===================== PAYMENT + PLATE MODAL ===================== */
    #plate-modal {
      display: flex;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.55);
      justify-content: center;
      align-items: center;
    }

    #plate-modal-content {
      width: 40%;
      max-width: 320px;
      border-radius: 20px;
      padding: 35px;
      background: #ffffff;
      box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
      font-family: 'Segoe UI', sans-serif;
      animation: pop 0.3s ease-out;
    }

    @keyframes pop {
      from { transform: scale(0.5); opacity: 0; }
      to { transform: scale(1); opacity: 1; }
    }

    #plate-modal-content h2 {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 25px;
      color: #222;
    }

    #plate-input,
    #payment-option {
      width: 100%;
      padding: 14px;
      font-size: 1.1rem;
      border: 2px solid #ddd;
      border-radius: 12px;
      outline: none;
      box-sizing: border-box;
      transition: 0.3s ease;
      background: #fafafa;
    }

    #plate-input:focus,
    #payment-option:focus {
      border-color: #ff8f00;
      box-shadow: 0 0 6px rgba(255,140,0,0.4);
      background: #fff;
    }

    .modal-label {
      text-align: left;
      width: 100%;
      display: block;
      font-size: 1rem;
      margin-bottom: 10px;
      margin-top: 15px;
      color: #444;
      font-weight: 600;
    }

    #submit-plate {
      background-color: #ff9800;
      border: none;
      color: white;
      padding: 15px 60px;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
     margin-top: 15px;
      transition: 0.25s ease;
    }
    #submit-plate:hover {
      background-color: #f57c00;
    }
.usp {
      background-color: #fff3e0;
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      font-weight: bold;
      color: #bf360c;
      font-size: 1.3rem;
      animation: pulse 1s ease-in-out infinite alternate;
    }
    @keyframes pulse {
      from { transform: scale(1); }
      to { transform: scale(1.05); }
    }
